# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Pytest
.pytest_cache/

# Coverage reports
coverage.xml
coverage.json
.coverage
htmlcov/

# OS/editor noise
.DS_Store
Thumbs.db
